{% extends 'count_query/base.html' %}

{% block title %}Active Users{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-8">
            <h2>Active Users</h2>
        </div>
        <div class="col-4 text-right">
            <a href="{% url 'signup' %}" class="btn btn-primary">Create New User</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Last Login</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_activity in active_users %}
                        <tr>
                            <td>{{ user_activity.user.username }}</td>
                            <td>{{ user_activity.last_login }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
