{% extends 'count_query/base.html' %}

{% block title %}Query Builder{% endblock %}

{% block content %}
{% if message %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% endif %}
    <h2>Query Builder</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
               Keyword: {{ form.keyword }}
            </div>
            <div class="col-md-4">
                 {{ form.industry }}
            </div>
            <div class="col-md-4">
                 {{ form.city }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.state }}
            </div>
            <div class="col-md-4">
                {{ form.country }}
            </div>
            <div class="col-md-4">
                {{ form.year_founded }}
            </div>
        </div>
        <div class="d-flex mt-3">
            <button type="submit" class="btn btn-primary mr-2">Query Date</button>
            <a href="{% url 'query_builder' %}" class="btn btn-secondary">Reset</a>
        </div>
    </form>
{% endblock %}
